<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Profile</h1>
      <!-- {{data}} -->
      <strong>Email</strong> {{data.email}}<br>
      <strong>Name</strong> {{data.name}}<br>
      <strong>Gender</strong> {{data.gender}}<br>
  </div>
</div>
